.log-entry {
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: auto 0;
    grid-column-gap: 5px;
    grid-row-gap: 10px; 
}

.log-time {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}