html, body {
    height: 100%;
    margin: 0px;
}

.settings button {
    margin-top: 50px;;
}

.settings h2 {
    margin-bottom: 15px;
    font-size: 3em;
    color: #002626;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}

.settings input {
    margin: 0;
    border: unset;
    background-color: unset;
    border-bottom: 2px solid #B2BEC3;
    padding: 5px 10px;
    font-size: 1.1em;
}

.settings label {
    margin: 20px 0;
}

.settings label:focus-within {
    color: #7a28cb;
    font-weight: bold;
}

.settings input:focus {
    outline: unset;
    border-bottom-color: #7a28cb;
}

.settings-inputs {
    width: 80vw;
    margin: 0 auto;
}

label {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: column;
}

.login {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
}

.save-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#save-settings {
    all: unset;
    cursor: pointer;
    padding: 10px 20px;
    color: #7a28cb;
    border-radius: 3px;
}

#save-settings:hover {
    font-weight: bold;
}

#save-settings:focus {
    font-weight: bold;
    outline: 2px solid #7a28cb;
}