html, body {
    margin: 0;
    padding: 0;
}

.login-banner {
    background-color: #ff4757;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 10px 0;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    cursor: default;
}